<!-- https://angular.io/api/common/DatePipe -->
<!-- Current Date: {{Today}} <br>
Current Date (local): {{Today | date:'medium'}}<br>
Current Date (France): {{Today | date:'medium':'GMT+2'}}<br>
Current Date (France): {{Today | date:'medium':'GMT+2' | uppercase}}<br> -->

<label>Filter City:</label>
<input [(ngModel)]='City'>
<button type="button" class="btn btn-sm btn-success m-2"
  (click)="onCityFilter()"><i class="fa fa-search"></i> Search</button>
<button type="button" class="btn btn-sm btn-warning"
  (click)="onCityFilterClear()"> <i class="fa fa-times"></i> Clear</button>
&nbsp;&nbsp;

<label>Sort by &nbsp;</label>
<select [(ngModel)] = 'SortbyParam'>
  <option value="City">City</option>
  <option value="Price">Price</option>
</select>
&nbsp;
<button type="button" class="btn btn-sm btn-dark"
  (click)="onSortDirection()">
    <i *ngIf="SortDirection==='asc'" class="fas fa-sort-alpha-down"></i>
    <i *ngIf="SortDirection==='desc'" class="fas fa-sort-alpha-up"></i>
</button>

<div class="row">
    <!-- properties|filter:'Ha Noi':'City' -->
    <div *ngFor="let item of properties|filter:SearchCity:'City'|sort:[SortbyParam, SortDirection]" class="shadow-lg col-sm-4 p-3">
        <!-- <app-property-card property_name="Test 123"></app-property-card> -->
        <app-property-card [property]="item"></app-property-card>
    </div>
</div>
