<div class="card">
  <div class="card-header">
    Add New Property
  </div>
  <!-- https://angular.io/guide/form-validation -->
  <!-- <form (ngSubmit)='onSubmit(Form)' #Form="ngForm"> -->
  <form (ngSubmit)='onSubmit()' #Form="ngForm">
    <div class="card-body">

        <div class="form-group col-12">
          <label for="name">Name</label>
          <input type="text" class="form-control" #propName="ngModel"
              ngModel name="Name" required minlength="4">
          <span *ngIf="!propName.valid && propName.touched" class="error-block">
            <span *ngIf="propName.errors.required">
              Name is required.
            </span>
            <span *ngIf="propName.errors.minlength">
              Name must be at least 4 characters long.
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="type">Type</label>
          <input type="text" class="form-control" ngModel name="Type">
        </div>

        <div class="form-group col-12">
          <label for="price">Price</label>
          <input type="text" class="form-control" ngModel name="Price">
        </div>
    </div>
    <div class="card-footer">
      <button [disabled]="!Form.valid" type="submit" class="btn btn-primary mr-2">Save</button>
      &nbsp;
      <button type="resut" class="btn btn-warning">Cancel</button>
    </div>
  </form>
</div>
<br>
<p>
  <button (click)="onBack()" class="btn btn-primary">Back</button>
</p>
